*{
    padding: 0;
    margin: 0;
}
.Lol{
    
}
div{
    text-align: center;
    font-family: cursive;
background-color: aqua;
margin: 12;
border: 2px solid aqua;
}
.hero{

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10;
    padding-top: 30px;
}